body {
    font-family: Arial, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.field-container, .input-table-container {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
}

.bench-container {
    width: 90%;
    margin-top: 1px;
}

input[type="text"], select, button {
    margin: 1px 0;
    width: 90%;
    font-size: 14px;
   
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    text-align: Center;
    line-height: 5px; /* Adjust this value to change the row height */
    padding: 8px; /* Increase padding to make rows taller */
}

th {
    background-color: #f4f4f4;
}

.baseball-field {
    height: 500px;
    width: 600px; /* Fixed width for the field */
    background: url('baseball_field.png') no-repeat center center;
    background-size: contain;
    position: relative;
    margin-top: 1px;
}

.player-position {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    text-align: center;
}

